*{
    margin:0;
    padding:0;
}
body{
  position: relative;
}
header{
    width:100%;
    height: auto;
}
.badge{
  height: 7vh;
  width: 100%;
  background-color: #16285a;
}
.jumbo{
  height: 30vh;
  width: 100%;
  position: relative;
}

.logo{
  display: block;
  margin: 0 auto;
  /* padding-top: 1vh; */
  width: 300px;
}
.banner{
  width: 90%;
  margin-left:10%;
  transform: translate(0,-2%);
}

ul{
  float: right;
}
ul li{
  list-style: none;
  float: left;
}
ul li img{
  height: 4.2vh;
  margin-top: 1.5vh;
  margin-right: 1vw;
  display: inline-block;
}
.youtube{
  margin-right: 2vw;
}

.bg{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(../assets/top_banner.jpg);
  background-size: cover;
  background-position: 50% 0%;
  opacity: 0.3;
}
main{
  padding: 3vh 2vw;
  height: 60vh;
}
aside{
  width: 20%;
  height: 60vh;
  
  float: left;
}
.test{
  width: 70vw;
  height: 60vh;
  position: relative;
  float: right;
  border-radius: 5px;
  overflow: hidden;
  margin-top: -7px;
}
h1{
  text-align: center;
  margin-bottom: 20px;
  margin: 0 auto;
    
}
.fourBt{
  width: 100%;
  height: 100%;
  background-color: #a7c8f3;
  position: absolute;
  font-family: roboto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.fourBt p{
  text-align: center;
}
.fourBt button{
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  left: 45%;
}

.choiceWrap{
  display: flex;
  justify-content: space-around;
}
.choiceWrap div{
  flex:1;
  text-align: center;
}
.question h2{
  text-align: center;
  margin-top: 30px;
}

.fourBt div img{
  width: 40%;
  margin:10% auto;
  margin-left: 10vw;
}
.question{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #F3F8F2;
  display: none;
}



.question button{
  height: 30px;
  
}



footer{
  width: 100%;
  height: 6vh;
  background-color: #16285a;
  text-align: center;
  color: white;
  font-family: Roboto;
  line-height: 6vh;
}

.lungCancer:hover{
  cursor: pointer;
  transform: scale(1.2);
}






@media only screen and (max-width:800px){
  .logo{
    padding-top: 2vh;
    width: 250px;
  }
  aside{
    display: none;
  }
  .test{
    width: 100%;
  }
  /* header{
    height: 30vh;
  } */

  .fourBt button{
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    left: 40%;
    background-color: #fff;
  }
}

@media only screen and (min-height:900px){
  .logo{
    padding-top: 5vh;
    width: 300px;
  }
}


@media only screen and (min-height:1025px){
  .logo{
    padding-top: 5vh;
    width: 400px;
  }
}

