

body{
    position: relative;
}
.splashPage{
    width:100vw;
    height: 100vh;
    background-color: #D6E9F3;
    color: #204559;
    /* Below is the animation for sliding out the splash page */
    -webkit-animation: slide-out-top 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.5s both;
	animation: slide-out-top 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.5s both;
}
#splashLogo{
    margin: 0 auto;
    display: block;
    margin-left: 43%;
    margin-right: auto;
    padding-top: 28vh;
}

.splashPage h3{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

/* below is the key frame for the sliding Part */

@-webkit-keyframes slide-out-top {
    0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
    100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 1;
    }
}
@keyframes slide-out-top {
    0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
    100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 1;
    }

}


.splashWrap{
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0;
    left: -40;
    right: 0;
    bottom: 0;
    box-sizing: border-box;

    padding: 0;
    height: auto;
}


@media only screen and (max-width:800px){
    #splashLogo{
        
        width: 150px;
        margin: 0 auto;
        display: block;
        padding-top: 33vh;
    }

    .splashPage h3{
        text-align: center;
        font-size: 25px;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
    }
    
}
